@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-sans);
    --font-mono: var(--font-geist-mono);

    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);

    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-tertiary: var(--tertiary);
    --color-tertiary-foreground: var(--tertiary-foreground);

    --color-text-primary: var(--text-primary);
    --color-text-primary-foreground: var(--text-primary-foreground);

    --color-trend-positive: var(--trend-positive);
    --color-trend-positive-foreground: var(--trend-positive-foreground);

    --color-very-positive: var(--very-positive);
    --color-very-positive-foreground: var(--very-positive-foreground);

    --color-positive: var(--positive);
    --color-positive-foreground: var(--positive-foreground);

    --color-neutral: var(--neutral);
    --color-neutral-foreground: var(--neutral-foreground);

    --color-negative: var(--negative);
    --color-negative-foreground: var(--negative-foreground);

    --color-very-negative: var(--very-negative);
    --color-very-negative-foreground: var(--very-negative-foreground);

    --color-environment: var(--environment);
    --color-environment-foreground: var(--environment-foreground);

    --color-social: var(--social);
    --color-social-foreground: var(--social-foreground);

    --color-governance: var(--governance);
    --color-governance-foreground: var(--governance-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-chart: var(--chart);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
}

:root {
    color-scheme: light;
    --background: #f9fbff;
    --foreground: #020a1a;
    --card: #ffffff;
    --card-foreground: #020a1a;
    --popover: #ffffff;
    --popover-foreground: #020a1a;

    --primary: #2b6cef;
    --primary-foreground: #ffffff;

    --secondary: #64748b;
    --secondary-foreground: #ffffff;

    --tertiary: #6c7689;
    --tertiary-foreground: #ffffff;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --text-primary: #020a1a;
    --text-primary-foreground: #ffffff;

    --accent: #2b6cef;
    --accent-foreground: #ffffff;

    --trend-positive: #118841;
    --trend-positive-foreground: #ffffff;

    --very-positive: #007047;
    --very-positive-foreground: #ffffff;

    --positive: #118841;
    --positive-foreground: #ffffff;

    --neutral: #6c7689;
    --neutral-foreground: #ffffff;

    --negative: #c94a53;
    --negative-foreground: #ffffff;

    --very-negative: #af1d21;
    --very-negative-foreground: #ffffff;

    --environment: #238080;
    --environment-foreground: #ffffff;

    --social: #6468d8;
    --social-foreground: #ffffff;

    --governance: #6468d8;
    --governance-foreground: #ffffff;

    --destructive: #ef4444;
    --destructive-foreground: #ffffff;

    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #2b6cef;
    --chart: #118841;
    --radius: 0.75rem;

    --sidebar: #ffffff;
    --sidebar-foreground: #0f172a;
    --sidebar-primary: #2b6cef;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #f1f5f9;
    --sidebar-accent-foreground: #0f172a;
    --sidebar-border: #e2e8f0;
    --sidebar-ring: #2b6cef;
}

.dark {
    color-scheme: dark;
    --background: #121426;
    --foreground: #ffffff;
    --card: #191b39;
    --card-foreground: #ffffff;
    --popover: #191b39;
    --popover-foreground: #ffffff;

    --primary: #2b6cef;
    --primary-foreground: #ffffff;

    --secondary: #c7cbd3;
    --secondary-foreground: #ffffff;

    --tertiary: #8e96a6;
    --tertiary-foreground: #0f172a;

    --muted: #1e293b;
    --muted-foreground: #94a3b8;

    --text-primary: #ffffff;
    --text-primary-foreground: #0f172a;

    --accent: #3b82f6;
    --accent-foreground: #ffffff;

    --very-positive: #0ab878;
    --very-positive-foreground: #ffffff;

    --positive: #4ad984;
    --positive-foreground: #ffffff;

    --trend-positive: #2bca6b;
    --trend-positive-foreground: #ffffff;

    --neutral: #abb1bd;
    --neutral-foreground: #ffffff;

    --negative: #d87980;
    --negative-foreground: #ffffff;

    --very-negative: #e4585c;
    --very-negative-foreground: #ffffff;

    --environment: #3bbaba;
    --environment-foreground: #ffffff;

    --social: #9c9de8;
    --social-foreground: #ffffff;

    --governance: #e9935c;
    --governance-foreground: #ffffff;

    --destructive: #ef4444;
    --destructive-foreground: #ffffff;

    --border: #1e293b;
    --input: #1e293b;
    --ring: #3b82f6;
    --chart: #2bca6b;

    --sidebar: #020617;
    --sidebar-foreground: #f8fafc;
    --sidebar-primary: #3b82f6;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #1e293b;
    --sidebar-accent-foreground: #f8fafc;
    --sidebar-border: #1e293b;
    --sidebar-ring: #3b82f6;
}

@layer base {
    * {
        @apply border-border outline-ring/50 transition-colors duration-200;
    }

    body {
        @apply bg-background text-foreground antialiased text-[14px];
    }
    button {
        @apply !cursor-pointer;
    }
    div[data-slot='card'] {
        @apply p-0!;
    }
}

